@page "/ferryimport"
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Web
@using MatBlazor
@rendermode InteractiveServer

<PageTitle></PageTitle>

<h1>csvインポート画面</h1>

<p>
    <label for="labelBoardingDate">乗船年月:</label>
    <input type="text" id="textBordingDate" name="name" required minlength="6" maxlength="6" size="6" />

    <label for="labelFerryCompany" style="margin-left:5px">フェリー会社:</label>
    <select>
    <option></option>
    <option>津軽海峡フェリー</option>
    <option>シルバーフェリー</option>
    <option>北日本海運㈱</option>
    <option>太平洋フェリー</option>
    </select>
    <MatButton   class="btn btn-primary" style="margin-left:5px" @onclick="OnUpdateSummary">実行</MatButton >
</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>支払月</th>
                <th>会社名</th>
                <th>請求額</th>
                <th>支払額合計</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.YearMonth</td>
                    <td>@forecast.FerryCompanyName</td>
                    <td>@String.Format("{0:#,###}", @forecast.BillingAmount)</td>
                    <td>@String.Format("{0:#,###}", @forecast.TotalPaymentAmount)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private FerryForecast[]? forecasts;

    private void OnUpdateSummary()
    {
        var startDate = DateOnly.FromDateTime(DateTime.Now);
        
        forecasts = Enumerable.Range(1, 100).Select(index => new FerryForecast
        {
            YearMonth = startDate.AddDays(index).ToShortDateString().Substring(0,7),
            FerryCompanyName = "津軽海峡フェリー",
            BillingAmount = 3288112,
            TotalPaymentAmount = 3288110,
        }).ToArray();
    }


    private class FerryForecast
    {
        public string? YearMonth { get; set; }
        public string? FerryCompanyName { get; set; }
        public int BillingAmount { get; set; }
        public int TotalPaymentAmount { get; set; }
    }
}
