@page "/highway"
@attribute [StreamRendering]

<PageTitle></PageTitle>

<h1>高速道路会社請求照会画面</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>選択</th>
                <th>終了日時</th>
                <th>開始インターチェンジ名</th>
                <th>終了インターチェンジ名</th>
                <th>支払金額</th>
                <th>基本金額</th>
                <th>高速道路会社名</th>
                <th>状態</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td><input type="checkbox" id="check"/></td>
                    <td>@forecast.EndDateTime</td>
                    <td>@forecast.StartICName</td>
                    <td>@forecast.EndICName</td>
                    <td>@String.Format("{0:#,###}", @forecast.PaymentAmount)</td>
                    <td>@String.Format("{0:#,###}", @forecast.BaseAmount)</td>
                    <td>@forecast.HighwayCompanyName</td>
                    <td>@_getStatusName(forecast.Status)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HighwayForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(100);
        var startDate = DateTime.Now;
        
        forecasts = Enumerable.Range(1, 1).Select(index => new HighwayForecast
        {
            EndDateTime = startDate.AddDays(index),
            StartICName = "大月",
            EndICName = "八王子",
            PaymentAmount = 1510,
            BaseAmount = 2160,
            HighwayCompanyName = "中日本高速道路株式会社",
            Status = 1,
        }).ToArray();
    }

    private class HighwayForecast
    {
        public DateTime EndDateTime { get; set; }
        public string? StartICName { get; set; }
        public string? EndICName { get; set; }
        public int PaymentAmount { get; set; }
        public int BaseAmount { get; set; }
        public string? HighwayCompanyName { get; set; }
        public int Status { get; set; }
    }

    private string _getStatusName(int status)
    {
        return status == 1 ? "確定済み" : "";
    }
}
